<p>
    <h4>Solicitud de Servicio Funerario</h4>
</p>
<hr>
<div class="form-horizontal">
    <form class="row" novalidate name="frmServicioFunerario">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="Codigo">Fecha de Solicitud</label>
                <div class="col-sm-8">
                    <input required maxlength="20" class="form-control input-sm" type="date" id="Codigo" ng-model="servicio.FechaSolicitud">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="Codigo">No. de Solicitud</label>
                <div class="col-sm-8">
                    <input required maxlength="20" class="form-control input-sm" type="text" id="Codigo" ng-model="servicio.NumeroSolicitud">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="Codigo">Fecha. de Contrato</label>
                <div class="col-sm-8">
                    <input required maxlength="20" class="form-control input-sm" type="date" id="Codigo" ng-model="servicio.FechaContrato">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="Codigo">No. de Contrato</label>
                <div class="col-sm-8">
                    <input required maxlength="20" class="form-control input-sm" type="text" id="Codigo" ng-model="servicio.NumeroContrato">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="Asesor">Asesor:</label>
                <div class="col-sm-10">
                    <select class="form-control input-sm" required
                            name="IdAsesor" id="IdAsesor" ng-model="servicio.IdAsesor">
                        <option ng-repeat="asesor in asesores" value="{{ asesor.ID }}">{{ asesor.Nombre + " " + asesor.ApellidoPat + " " + asesor.ApellidoMat }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="Cargo">Cliente:</label>
                <div class="col-sm-8">
                    <!--<select class="form-control input-sm" required
                            ng-change="obtenerDomiciliosCliente(servicio.IdCliente)"
                            name="IdAsesor" id="IdAsesor" ng-model="servicio.IdCliente">
                        <option ng-repeat="cliente in clientes" value="{{ cliente.ID }}" ng-selected="cliente.ID == servicio.IdCliente">{{ cliente.Nombre + " " + cliente.ApellidoPat + " " + cliente.ApellidoMat }}</option>
                    </select>-->

                    <select class="form-control input-sm" required
                            ng-change="establecerIdCliente()"
                            ng-options="cliente.Nombre + ' ' + cliente.ApellidoPat + ' ' + cliente.ApellidoMat for cliente in clientes track by cliente.ID"
                            name="IdPaquete" id="IdPaquete" ng-model="clienteSeleccionado"></select>
                </div>
            </div>
        </div>        
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="IdDomicilioCobranza">Domicilio de Cobranza:</label>
                <div class="col-sm-8">
                    <select class="form-control input-sm" required
                            name="IdDomicilioCobranza" id="IdDomicilioCobranza" ng-model="servicio.IdDomicilioCobranza">
                        <option ng-repeat="domicilio in domicilios" value="{{ domicilio.ID }}">
                            {{ domicilio.Calle + " No. " + domicilio.NumeroExterior +
                                                    (domicilio.NumeroInterior == null ? "" :
                                                    " Int. " + domicilio.NumeroInterior) + "  entre " +
                                                    domicilio.EntreCalles }}
                        </option>
                    </select>
                </div>
            </div>
        </div>        
        
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="IdPaquete">Paquete Funerario:</label>
                <div class="col-sm-8">
                    <!--<select class="form-control input-sm" required
                            name="IdPaquete" id="IdPaquete" ng-model="servicio.IdPaquete">
                        <option ng-repeat="paquete in paquetes" value="{{ paquete.ID }}">{{ paquete.Descripcion }}</option>
                    </select>-->
                    <select class="form-control input-sm" required
                            ng-change="establecerIdPaquete()"
                            ng-options="paquete.Descripcion for paquete in paquetes track by paquete.ID"
                            name="IdPaquete" id="IdPaquete" ng-model="paqueteSeleccionado"></select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="Precio">Costo</label>
                <div class="col-sm-8">
                    <!--<input required min="1" class="form-control" type="number" id="Costo" ng-model="servicio.Costo" name="Precio">-->

                    <p class="form-control-static">
                        {{ paqueteSeleccionado.Precio | currency : "$" : 2 }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
             <div class="form-group">
                 <label class="control-label col-sm-2" for="TitularSustituto">Titular Sustituto</label>
                 <div class="col-sm-10">
                     <input maxlength="20" class="form-control input-sm" type="text" id="TitularSustituto" ng-model="servicio.TitularSustituto">
                 </div>
             </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="Asesor">Frecuencia de Abonos:</label>
                <div class="col-sm-10">
                    <select class="form-control input-sm" required
                            name="IdFrecuenciaAbonos" id="IdFrecuenciaAbonos" ng-model="servicio.IdFrecuenciaAbonos">
                        <option ng-repeat="frecuencia in frecuencias" value="{{ frecuencia.ID }}">{{ frecuencia.Descripcion }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="SoloCremacion">Servicio ya proporcionado</label>
                <div class="col-sm-8">
                    <div class="checkbox form-control-static">
                        <label>
                            <input type="checkbox" id="ServicioYaProporcionado" ng-model="servicio.ServicioYaProporcionado" name="ServicioYaProporcionado">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="IdDomicilioCobranza">Estatus de Cobranza:</label>
                <div class="col-sm-8">
                    <select class="form-control input-sm" required
                            name="IdDomicilioCobranza" id="IdDomicilioCobranza" ng-model="servicio.EstatusCobranza">
                        <option value="1">Cancelado</option>
                        <option value="2">En proceso de Pago</option>
                        <option value="3">Pago finiquitado</option>
                    </select>
                </div>
            </div>
        </div>     

        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button class="btn btn-default"
                            ng-disabled="frmServicioFunerario.$invalid"
                            ng-click="guardarServicio(servicio)">
                        Guardar Nuevo Servicio Funerario
                    </button>
                </div>
            </div>
        </div>
</form>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="exitoGuardado">
                <button type="button" class="close"
                        data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                El Servicio Funerario se guardó correctamente.
                <a href="#/servicios/info/{{ nuevoId }}" class="btn btn-success btn-xs">Ver</a>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="fracasoGuardado">
                <button type="button" class="close"
                        data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ errorResponse.Message }}
                <ul ng-show="errorResponse.ModelState">
                    <li ng-repeat="item in errorResponse.ModelState.paquete">
                        {{ item }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>