<p>
    <h4>Listado de Servicios Funerarios</h4>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <!--<th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>R. F. C.</th>
                <th>Acciones</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="servicio in servicios">
                <!--<td>{{ asesor.Nombre }}</td>
                <td>{{ asesor.ApellidoPat }}</td>
                <td>{{ asesor.ApellidoMat }}</td>
                <td>{{ asesor.RFC }}</td>
                <td>
                    <a ui-sref="servicios.asesores.info({idAsesor: asesor.ID})" class="btn btn-default btn-xs">Info</a>
                </td>-->
            </tr>
        </tbody>
    </table>
</div>