<h4>Listado de Servicios Funerarios</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha Solicitud</th>
                <th>Fecha Contrato</th>
                <th>No. Solicitud</th>
                <th>No. Contrato</th>
                <th>Cliente</th>
                <th>Asesor</th>
                <th>Paquete</th>
                <th>Costo</th>
                <th>Frecuencia Abonos</th>
                <th>Servicio proporcionado</th>
                <th>Domicilio Cobranza</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="servicio in servicios">
                <td>{{ servicio.FechaSolicitud | date:'MMM-dd-yyyy' }}</td>
                <td>{{ servicio.FechaContrato | date:'MMM-dd-yyyy' }}</td>
                <td>{{ servicio.NumeroSolicitud }}</td>
                <td>{{ servicio.NumeroContrato }}</td>
                <td>{{ servicio.Cliente }}</td>
                <td>{{ servicio.Asesor }}</td>
                <td>{{ servicio.Paquete }}</td>
                <td>{{ servicio.Costo | currency : "$" : 2 }}<td>
                <td>{{ servicio.FrecuenciaAbonos }}</td>
                <td>{{ servicio.ServicioYaProporcionado ? "Si" : "No" }}</td>
                <td>{{ servicio.Domicilio }}</td>
                <td>{{ servicio.EstatusCobranza }}</td>
            </tr>
        </tbody>
    </table>
</div>